#about {
    margin: 10px 0 0 0;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 20px 0 20px 0;
    justify-content: center;
}

.aboutAndSkills {
    background-color: #f8b87cf;
}

.about img {
    height: 250px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    
}

@media screen and (min-width: 480px) {
    #about {
        padding: 30px;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 50px;
        display: grid;
    }

    .aboutAndSkills {
        display: grid;
        grid-column: 3 / span 8;
        padding: 20px;
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .about div {
        margin: 10px;
    }
    
    .aboutInfo {
        text-align: left;
        max-width: 400px;
    }
    
    .aboutPortrait {

    }
  }



  
